<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
    <link rel="stylesheet" href="{% static 'css/form1.css' %}">
</head>
<body>
    
    <div class="container">
        {% if submitted %}
        <h1> Student with the name:{{sname}} processed succesfully</h1>
        <h2>Enter next student information</h2>
        {% else %}
        <h1>Student Input Form</h1>
        {% endif %}
        <form class="abc" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input class="button" type="submit" name="" value="Submit">
        </form>
    </div>
</body>
</html>